.map-container {
  /* border-radius: 15px; */
  height: 700px;
  width: 100%;
  flex: 6;
}
#map {
  /* border-radius: 15px; */
  height: 100%;
}
.map-frame {
  /* border: 8px solid #117a8b; */
  /* border-radius: 15px; */
  height: 100%;
}
.div-ombre {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #5e5e5f0d;
  border: 2px solid white;
  margin: 15px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div-commentaire {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #5e5e5f0d;
  border: 1px solid #c3c4c3;
  /* margin: 30px 20px 20px 20px; */
  margin: 0px 20px 20px 20px;
  padding: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ImportBox {
  display: flex;
  flex-direction: row-reverse;
}

.ShowImportButton {
  display: contents;
  display: flex;
  flex-direction: column;
  margin: 0px 10px 10px 10px;
  padding: 15px 15px 5px 15px;
  background-color: #e7e5e5;
}
.ShowImportButton > div {
  display: flex;
  justify-content: space-evenly;
}
.HideImportButton {
  display: none;
}
.HideImportButtonLoad {
  display: none;
}

/* CSS */
.button-16 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}
.buttonStyle {
  margin: 10px;
  /* width: 150px; */
  height: 50px;
  font-size: 16px;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #224c7b 0,
    #224c7b 100%
  );
}
